body{
    background-color: grey;
    color: white;
    font-weight: bolder;
}
.large-box{
    height: 250px;
    width: 150px;
    background-color: yellow;
    color: black;
}
ol li{
    color: black;
}
.para{
    font-size: 2rem;
    color: rgb(19, 18, 18);
}
.newPara{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(202, 37, 37);
}   
#doubleClick{
    background-color: rgb(226, 30, 30);
    color: rgb(255, 243, 243);
    border-radius: 20px;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 50px;
    padding: 15px;
}