.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
#circle{margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;font-size: 1.1rem;
    border: 3px solid yellow;
}