* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(77, 124, 124);
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 2rem;
  color: white;
  font-size: 8vmin;
  border: none;
  background-color: rgb(23, 24, 24);
  box-shadow: 5px 5px 15px 1px yellow;
}
.msg-box{
    font-size: 3rem;
    font-weight: bolder;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* #new-game{
    padding:1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(179, 226, 226);
    box-shadow: 1px 10px 10px 0px rgb(25, 153, 226);
} */
#reset-btn{
    padding: 1.2rem;
    font-size: 2rem;
    border-radius:20px ;
    box-shadow:1px 1px 2px 2px black ;
    border: none;
}