@media(min-width:600px){

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 800px;
}

footer {
  text-align: right;
  color: midnightblue;
}

span {
  color: midnightblue;
}

.card img {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 20px;
}

h2 {
  margin-top: 80px;
}

p {
  display: inline-block;
}

.right {
  margin-left: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.left-textbox {
  display: inline-block;
  margin-top: -80px;
  margin-left: 30px;
  width: 250px;

}

.right-textbox {
  display: inline-block;
  margin-top: -80px;
  margin-left: 30px;
  width: 300px;


}


}