body{
    background-color: grey;
    color: white;
    font-weight: bolder;
}
.large-box{
    height: 250px;
    width: 150px;
    background-color: yellow;
}
ol li{
    color: black;
}
.para{
    font-size: 2rem;
    color: rgb(19, 18, 18);
}
.newPara{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(202, 37, 37);
}   
