body {
    background-color: antiquewhite;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

h1,
button {
    text-align: center;
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 4rem;
    color: rgb(18, 83, 61);
}

button {
    margin-top: 20px;
    font-size: 3rem;
    border-radius: 12px;
    border: 0px;
    padding: 5px;
    box-shadow: 5px 5px rgb(211, 119, 119);
    color: rgb(11, 15, 15);
}
button:hover{
    font-size: 3.2rem;
    background-color: hotpink;
    color: black;
    box-shadow: 5px 5px rgb(0, 0, 0);
}
img{
    width: 80%;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Indie Flower', cursive;
}